<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Well-Spring-Pond</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Top navigation -->
    <div class="container navbar navbar-fixed-top">
        <div class="alert alert-success">
            @Html.ActionLink("Well-Spring-Pond", "Index", "Home", new {area = ""}, new {@class = "h1"})
            <hr/>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

<div class="container body-content">
    @RenderBody()
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gmaps")
    @RenderSection("scripts", required: false)
</body>
</html>
