@model IEnumerable<WellSpringPond.Models.ViewModels.Users.AdminUserBasicDataVm>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "ManageUser", new { id=item.Id }) |
            @Html.ActionLink("Details", "UserDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "UserDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
